/*                                                                                                              */
/*                                                                                                              */
/*                                                 @@@@@@@@@@@@@@                                               */
/*                                 @@@@@@@@@@@@@@@@@@          @@@@@@@@@@@@@@@                                  */
/*                            @@@@@@@@@@@@@      @@              @@      @@@@@@@@@@@@@                          */
/*                       @@@@@     @@@@        @@                  @@        @@@@     @@@@@                     */
/*                   @@@        @@@          @@                      @@         @@@        @@@                  */
/*                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@               */
/*            @@@@          @@             @@                          @@            @@         @@@@            */
/*          @@@           @@              @@                            @@             @@          @@@          */
/*        @@@            @@               @@                            @@              @@           @@@        */
/*       @@                                                                                            @@       */
/*      @@                                                                                              @@      */
/*     @@            @@           @@         @@  @@           @@   @@@@@@@@@@@@  @@@        @@           @@     */
/*    @@             @@           @@         @@  @@@@       @@@@  @@@@@@  @@@@@@ @@@@@      @@            @@    */
/*    @              @@           @@         @@  @@@@@     @@@@@  @@@@@    @@@@@ @@  @@@    @@             @    */
/*    @              @@           @@         @@  @@  @@@  @@@ @@  @@@@      @@@@ @@    @@@@ @@             @    */
/*    @              @@           @@         @@  @@   @@@@@@  @@  @@@@@    @@@@@ @@      @@@@@             @    */
/*    @              @@@@@@@@@@@@ \@@@@@@@@@@@/  @@    @@@@   @@   @@@@@@@@@@@@  @@        %@@             @    */
/*    @@                                                                                                  @@    */
/*     @@                                                                                                @@     */
/*      @@              @@                @@                            @@                @@            @@      */
/*        @@             @@               @@                            @@               @@           @@        */
/*          @@            @@               @@                          @@               @@          @@          */
/*            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@            */
/*               @@@         @@@            @@                        @@            @@         @@@              */
/*                  @@@         @@           @@                      @@          @@@        @@@                 */
/*                     @@@@@      @@@          @@                  @@         @@@      @@@@@                    */
/*                          @@@@@@    @@@        @@              @@        @@@   @@@@@@                         */
/*                               @@@@@@@@@@@@@@    @@          @@    @@@@@@@@@@@@@                              */
/*                                            @@@@@@@@@@@@@@@@@@@@@@@@                                          */
/*                                                                                                              */
/*                                          ＵＮＩＴＥＤ ＩＮ 𝙎𝙀𝙑𝙀𝙍𝘼𝙉𝘾𝙀                                         */

/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #0b1822;
    --color01: #6e9fca;
    --color02: #79abd2;
    --color03: #86b6da;
    --color04: #92c7e7;
    --color05: #9fcfe9;
    --color06: #b5deef;
    --color07: #c7d2de;
    --color08: #355066;
    --color09: #8fb9dc;
    --color10: #98c2e2;
    --color11: #a8d0ea;
    --color12: #d9f3ff;
    --color13: #b3d7ec;
    --color14: #c4e5f4;
    --color15: #edf6fb;
}
